/*Navigation styles*/
nav {
  background-color: #274276;
  width: 100%;
  margin: 0;
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
  height: auto;
}
.nav-wrapper {
  padding: 0 3%;
  max-width: 1540px;
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-wrapper span {
  color: #fff;
  font-size: 1.4rem;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin: 19px 10px;
}

.site-logo {
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-right: auto;
}

.site-logo a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  text-decoration: none;
}

.site-logo img {
  height: 40px;
  width: auto;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  transition: none;
  transform: none;
}

.nav-links ul {
  display: flex;
  column-gap: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-links ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
}

.nav-links ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.6s ease-in-out;
}

.nav-links ul li a:hover::after {
  transform: scaleX(1);
}

.mobile-menu-button {
  display: none;
  border: none;
  background: none;
  color: #fff;
  width: 60px;
  height: 60px;
  padding: 0 0;
  font-size: 2.5rem;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav-links.show {
    display: flex;
    transform: translateX(0);
  }

  .site-logo {
    z-index: 12;
    width: calc(100% - 60px);
  }

  .mobile-menu-button {
    display: block;
    z-index: 12;
  }

  .nav-links {
    text-transform: uppercase;
    background-color: #274276;
    overflow: hidden;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    justify-content: start;
    padding-top: 100px;
    transform: translateX(-100%);
    height: 100vh;
    height: 100dvh;
    z-index: 11;
    transition: transform 0.2s ease;
  }

  .nav-links ul {
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
  }

  .nav-links ul li {
    border-bottom: 1px solid #fff;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

/*Styles for Not Found and Error pages*/
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-page h2 {
  font-size: 3rem;
  color: #ff6347;
  text-align: center;
}

.error-page p {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
}

/*Styles for Loading page*/
.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #6200ea;
}

.spinner {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
}

.liquid {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(45deg, #ff4081, #6200ea);
  animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0.6);
    opacity: 0.6;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

.loading-screen p {
  font-size: 1.2rem;
}

/*Main section styles*/
main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-wrapper {
  padding: 20px 3%;
  height: auto;
  display: flex;
  flex-direction: column;
  max-width: 1540px;
  width: 100%;
  box-sizing: border-box;
}

/*Favourites styles*/
.favourites-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  box-shadow: 0 9px 9px -9px rgba(1, 101, 178, 0.6);
  box-sizing: border-box;
  background-color: #fff;
}

.favourites-header .wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 1540px;
  padding: 20px 3%;
}

.favourites-header .clear-button {
  font-size: 1rem;
  padding: 8px 12px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
}

.favourites-header .clear-button:not(:disabled):hover {
  background-color: #ff8260;
}

.favourites-header .clear-button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.favourites-header h1 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 800;
  color: #274276;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/*Cocktails list styles*/
.cocktails {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  align-items: center;
  row-gap: 20px;
}

@media screen and (max-width: 548px) {
  .cocktails {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 549px) and (max-width: 768px) {
  .cocktails {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .cocktails {
    grid-template-columns: repeat(4, 1fr);
  }
}

.cocktail-card {
  display: flex;
  flex-direction: column;
  border-radius: 1%;
  box-shadow: 0 4px 8px rgba(0, 11, 71, 0.1);
  width: auto;
  height: 100%;
  background-color: #f2f6fd;
  overflow: hidden;
  transition: all 0.5s ease;
}

.cocktail-card:hover {
  box-shadow: 0 6px 12px rgba(1, 101, 178, 0.6);
}

.cocktail-card img {
  width: 100%;
  object-fit: cover;
}

.cocktail-info {
  padding: 10px 20px;
  text-align: left;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.cocktail-info h2 {
  font-size: 1.3rem;
  margin: 0;
  margin-bottom: 5px;
  text-align: left;
}

.cocktail-info p {
  font-size: 1rem;
  margin: 0;
}

.cocktail-card-actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: auto;
}

.details-button {
  flex-grow: 1;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 2%;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.details-button:hover {
  background-color: #3700b3;
}

.favourite-button {
  border: none;
  cursor: pointer;
  height: 37px;
  aspect-ratio: 1/1;
  background: none;
  padding: 0;
}

.favourite-button svg {
  width: 95%;
  height: 95%;
}

.pagination {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.pagination button {
  background: none;
  border: 1px solid gray;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 20%;
  aspect-ratio: 1/1;
  width: 40px;
  transition: background-color 0.5s ease;
}

.pagination button:not(:disabled):hover {
  background-color: rgb(230, 230, 230);
}

.pagination button:disabled {
  border-color: lightgray;
  color: lightgray;
  cursor: not-allowed;
}

.pagination span {
  margin: 10px;
}

/*No cocktails available styles*/
.no-cocktails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-cocktails img {
  width: 150px;
}

.no-cocktails h2 {
  text-align: center;
  font-size: 2rem;
  color: #ff6347;
}

/*Cocktail details styles*/
/*TODO*/
section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  background: #f8f8f8;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  margin: 20px 3%;
}

section img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 3px solid #ff6347;
}

.content {
  flex: 1;
}

main p {
  margin: 8px 0;
  font-size: 16px;
  color: #333;
}

main b u {
  color: #ff6347;
}

main details {
  margin-top: 10px;
  background: white;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ddd;
}

main summary {
  font-weight: bold;
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  color: #ff6347;
}

main summary:hover {
  text-decoration: underline;
}

main ul {
  padding-left: 20px;
  margin: 10px 0;
}

main li {
  font-size: 14px;
  color: #555;
}

main li::before {
  content: "🍹";
  margin-right: 5px;
}

main details {
  background: white;
  border-radius: 12px;
  padding: 12px;
  border: 2px solid #6200ea;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  max-width: 500px;
  width: auto;
}

main summary {
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
  color: #6200ea;
  display: flex;
  align-items: center;
}

main summary:hover {
  text-decoration: underline;
}

main h2 {
  text-align: center;
}

/*Footer styles*/
footer {
  display: flex;
  font-size: 1rem;
  background-color: #274276;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  color: #fff;
}

.copyright-section {
  font-weight: bold;
  width: 100%;
  background-color: #203560;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-section {
  width: 100%;
  max-width: 1540px;
  gap: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 3%;
  box-sizing: border-box;
}

.description-section p {
  text-align: justify;
  width: min(40%, 500px);
}

@media screen and (max-width: 768px) {
  .description-section p {
    width: 88%;
  }
}

footer a {
  color: #fff;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

footer a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #d9e8ff;
  transition: width 0.6s ease;
}

footer a:hover::after {
  width: 100%;
}
