nav {
  background-color: #d9e8ff;
  width: 100%;
  margin: 0;
  height: auto;
  padding: 20px 60px;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 99%;
  display: flex;
}

nav img {
  width: 50px;
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  color: #203560;
  margin: 0 30px;
  font-size: 1.4em;
  font-weight: bold;
}

main {
  margin: 0;
  margin-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

main div {
  margin: 10px;
  border-radius: 5%;
  text-align: center;
  width: min(calc(100% / 5), 200px);
  height: auto;
  padding: 5px 5px;
  background-color: #d9e8ff;
}

main div > h1 {
  font-size: 24px;
}

main div > p {
  font-size: 16px;
}

main div > img {
  width: 85%;
  border-radius: 5%;
  margin-bottom: 10px;
}

main div > button {
  background-color: #4caf50;
  width: 85%;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #45a049; /* Zmiana koloru przy najechaniu */
  transform: scale(1.1); /* Powiększenie przy najechaniu */
}

.button:active {
  background-color: #3e8e41; /* Zmiana koloru po kliknięciu */
  transform: scale(1); /* Normalny rozmiar po kliknięciu */
}

footer {
  margin: 0;
  width: 100%;
  height: auto;
  padding: 40px;
  background-color: #203560;
  color: #fff;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

footer a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #d9e8ff;
  transition: width 0.8s ease;
}

footer a:hover::after {
  width: 100%;
}
